# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Generated outputs
audit_overlays/
fetched_images/
output_json/

# Model weights (IMPORTANT)
model_train/*.pt
model_train/*.onnx

# Mac
.DS_Store
# Mac system files
.DS_Store

# Generated outputs
fetched_images/
audit_overlays/
output_json/

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

